<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>

<h1>Create zada4a</h1>

<form action="/sketch/add/" method="post">
    {% csrf_token %}
    <label>description:</label><br/>
    <input type="text" name="description"/><br/>
    <label>Text:</label><br/>
    <textarea name="status"></textarea><br/>
    <label>Author:</label><br/>
    <input type="text" name="date_of_completion"/><br/>
    <br/>
    <input type="submit" value="Send"/>
</form>
<a href="/">На главную</a>
</body>
</html>