{% extends "base.html" %}


{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="{% url "create_sketchpad" %}">Создание статьи</a>
    </li>
{% endblock %}

{% block content %}
    <h1>Список задач</h1>
    <div class="row">
        {% for sketchpad in sketchpads %}
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h2>TITLE: {{ sketchpad.title }}</h2>
                        <h3> DESCRIPTION: {{ sketchpad.description }}</h3>
                        <p>STATUS: {{ sketchpad.get_status_display }} </p>
                        <p>DATE OF COMPLETION:
                            {% if sketchpad.date_of_completion == None %}
                                {{ "" }}
                            {% else %}
                                {{ sketchpad.date_of_completion }}
                            {% endif %}
                        </p>
                        <p><a href="{% url "sketchpad_view" sketchpad.pk %}">Подробнее</a></p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

